# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
*.log

# Test files
test
coverage
.nyc_output
**/*.spec.ts
**/*.e2e-spec.ts

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
README.md
